.breadcrumbsContainer {
  --ifm-breadcrumb-size-multiplier: 0.8;
  margin-bottom: 0.8rem;
}

.breadcrumbsWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.editThisPageWrapper {
  flex-shrink: 0;
}
